.body{
    color: aliceblue;
}
img{
  height: 400px;
  width: 400px;
  border: solid 10px;
  border-color: rgb(70, 34, 1);
  border-style:outset;
  border-radius: 40px;
}
div{
    display: inline-block;
}
#ca{
font-size: 1000%;
}
#ts{
font-size: 1000%;
}